# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python generated
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg-info/


# Outputs
outputs/*
!outputs/.gitkeep
