# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python generated
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.
*.egg-info/


# Outputs
output/*
!output/.gitkeep

# System
.DS_Store
